﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="vVendedor.aspx.cs" Inherits="Proyecto_Ipc2_Vacaciones_2020.vVendedor" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
    <h2>Meta mensual </h2>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    
    <table style="width:100%;">
        <tr>
            <td style="width: 353px">
                <asp:Button ID="bCrear" runat="server" OnClick="bCrear_Click" Text="Crear Orden" />
            </td>
            <td>
                <asp:Button ID="bReporte1" runat="server" Text="Venta vs Meta" />
            </td>
            <td>
                <asp:Button ID="bReporte2" runat="server" Text="Venta vs Categoria" />
            </td>
        </tr>
        <tr>
            <td style="width: 353px">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 353px">&nbsp;</td>
            <td>
                <asp:Button ID="bSalir" runat="server" OnClick="bSalir_Click" Text="Salir" />
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>
    
</asp:Content>


<asp:Content ID="Content3" runat="server" contentplaceholderid="ContentPlaceHolder3">

</asp:Content>






